// ============================================================================
// Dataset Tile Component
// ============================================================================

.dataset-tile
  background: var(--color-off-white)
  border: 1px solid #0001
  transform-origin: center

  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1)

  > .title
    font-weight: 600
    font-size: 24px
    line-height: 1
    margin: 0 0 5px 0

  > .description
    margin: 0
    font-size: 16px
    line-height: 1.1
