#EndpointsListView

  > .endpoints
    padding-left: 0
    > .endpoint
      list-style: none
      > article
        > header
          display: flex
          align-items: baseline
          > h2
            font-size: 24px
            margin: 0
          > a
            display: inline-block
            background-color: #000D
            color: #fff
            font-weight: 500
            line-height: 1
            position: relative
            padding: 2px 5px
            text-decoration: none
            bottom: 3px
            left: 7px
            font-size: 12px
        > .datasets
          padding-left: 0
          list-style: none
          > li
            margin: 0 0 -1px

            > .dataset-card
              padding: 12px
