body > .global-navigation
  --width: 274px
  position: fixed
  top: var(--gap)
  left: var(--gap)
  width: var(--width)
  height: calc(100% - var(--gap) * 2)
  z-index: var(--z-index-global-navigation)